input{
    margin: 3px
}

h2{ 
    font-size: 24;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bold;
    font-display: Calibri;
} 

body {
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction:column;
    align-items:center;
}

h3{
    color: black;
}

nav{
    color: black;
    
}

table{
    color: black;
    
}

th{
    background-color:#4CAF50;
    color: white     ;
     
}

td{
    text-align: center;
    
}

input{
    margin: 6px
}
